<%- include('includes/layout/top') %>
<section id="current">
    <div
        class="
            icon-container
        "
        style="background-color: <%= currentConditions.temperatureBackgroundCssColor %>;"
    >
        <img
            class="
                icon
                <%= currentConditions.temperatureBackgroundIsDark ? 'dark' : '' %>
            "
            src="<%= staticPath(currentConditions.climaconSrc) %>"
        />
    </div>
    <div class="text-container">
        <select class="js-city-select">
            <% for (const [citySlug, cityName] of Object.entries(cityNamesBySlug)) { %>
                <option
                    <% if (citySlug === currentCitySlug) { %>
                        selected
                    <% } %>
                    value="<%= citySlug %>"
                ><%= cityName %></option>
            <% } %>
        </select>
        <p class="temp" id="current-temp"><%= currentConditions.temperature %>°C</p>
        <p class="description" id="current-description"><%= currentConditions.description %></p>
    </div>
</section>
<section id="forecasts">
    <table>
        <thead>
            <tr>
                <th class="icon"></th>
                <th class="datetime">Date</th>
                <th
                    class="low"
                    style="background-color: <%= currentConditions.temperatureBackgroundCssColor %>;"
                >Low</th>
                <th
                    class="high"
                    style="background-color: <%= currentConditions.temperatureBackgroundCssColor %>;"
                >High</th>
                <th class="pop">POP</th>
                <th class="description">Description</th>
            </tr>
        </thead>
        <tbody>
            <% for (const forecast of forecasts) { %>
                <tr
                    <% if (forecast.isDay === false) { %>
                        class="night-row"
                    <% } %>
                >
                    <td class="icon">
                        <div class="icon-container">
                            <img
                                class="icon"
                                src="<%= staticPath(forecast.climaconSrc) %>"
                            />
                        </div>
                    </td>

                    <td class="datetime"><%= forecast.datetime %></td>

                    <% if (typeof forecast.low !== 'undefined') { %>
                        <td
                            class="
                                low
                                <%= forecast.temperatureBackgroundIsDark ? 'dark' : '' %>
                            "
                            style="background-color: <%= forecast.temperatureBackgroundCssColor %>;"
                        ><%= forecast.low %></td>
                    <% } else { %>
                        <td class="low"></td>
                    <% } %>

                    <% if (typeof forecast.high !== 'undefined') { %>
                        <td
                            class="
                                high
                                <%= forecast.temperatureBackgroundIsDark ? 'dark' : '' %>
                            "
                            style="background-color: <%= forecast.temperatureBackgroundCssColor %>;"
                        ><%= forecast.high %></td>
                    <% } else { %>
                        <td class="high"></td>
                    <% } %>

                    <% if (typeof forecast.pop !== 'undefined') { %>
                        <td
                            class="
                                pop
                                <%= forecast.popBackgroundIsDark ? 'dark' : '' %>
                            "
                            style="background-color: <%= forecast.popBackgroundCssColor %>;"
                        ><%= forecast.pop %></td>
                    <% } else { %>
                        <td class="pop"></td>
                    <% } %>
                    <td class="description"><%= forecast.description %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</section>
<%- include('includes/layout/bottom') %>
